# Core functionality - changes here should be rare!
/src/app.py                   @PathumSandeepa
/src/backend/database.py      @PathumSandeepa
/src/backend/routers/auth.py  @PathumSandeepa

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PathumSandeepa
